@{
    ViewData["Title"] = "Home Page";
}

<div class="card dunes-form">
    <div class="card-body">
        <h5 class="card-title">Nuevo Proceso</h5>

        <form id="processForm">
            <!-- Input -->
            <div class="mb-3">
                <label for="processInput" class="form-label">Código de Proceso</label>
                <input type="text" class="form-control dunes-input" id="processInput" placeholder="Ingrese código...">
            </div>

            <!-- Botón -->
            <button type="submit" class="btn dunes-btn-primary w-100">
                Guardar
            </button>
        </form>
    </div>
</div>
