@model DUNES.Shared.DTOs.WMS.WMSInventorycategoriesCreateDTO

@{
    ViewData["Title"] = "Create Inventory Category";
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="CycleCountDays" class="form-label"></label>
                <input asp-for="CycleCountDays" class="form-control" type="number" />
                <span asp-validation-for="CycleCountDays" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ErrorTolerance" class="form-label"></label>
                <input asp-for="ErrorTolerance" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="ErrorTolerance" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="form-check mt-2">
                <input class="form-check-input" asp-for="Active" />
                <label class="form-check-label" asp-for="Active"></label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="Observations" class="form-label"></label>
                <textarea asp-for="Observations" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="d-flex gap-2 mt-2">
                <button type="submit" class="btn btn-outline-primary">Create</button>
               
            </div>
        </div>
    </div>
</form>
<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}