@model List<DUNES.Shared.DTOs.Auth.MenuItemDto>
@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-4">
    <div class="row g-3 align-items-stretch mt-4">
        @foreach (var item in Model)
       @*  @foreach (var item in Model.Where(m => m.Code.Length == 4)) *@
        {
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card dunes-card h-100">
                    <div class="card-body">
                        <h5 class="card-title mb-1">@item.Title</h5>
                        <p class="card-text">
                            @(!string.IsNullOrEmpty(item.Utility) ? item.Utility : "No description")
                        </p>
                        <!-- Hace clickeable toda la card -->
                        <a href="/Menu/Level/@item.Code" class="stretched-link" aria-label="@item.Title"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>