@model DUNES.Shared.DTOs.WMS.WMSTransactionTypeClientCreateDTO

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionTypeId" class="control-label"></label>
                <select asp-for="TransactionTypeId" class="form-control" asp-items="@ViewBag.TransactionTypes">
                    <option disabled selected value="">Select Type</option>
                </select>
                <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}