@using DUNES.Shared.DTOs.Auth
@model List<MenuItemDto>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in Model)
        {
            if (item == Model.Last())
            {
                <!-- Último item (la página actual) -->
                <li class="breadcrumb-item active text-warning fw-light" aria-current="page">
                    @item.Title
                </li>
            }
            else
            {
                <li class="breadcrumb-item">
                    <a href="@Url.Action(item.Action, item.Controller)">@item.Title</a>
                </li>
            }
        }
    </ol>
</nav>
